body{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-size: x-large;
}
div{
    margin: 2%;
    padding: 2%;
    border-radius:1cm;
    border: 2px solid gray;
}
header{
    width: 1250px;
    height: 500px;
    text-align: center;
}
img{
    float:right;
    }

h1{
margin: 1%;
padding: 1%;
    }
h2{
margin: 1%;
padding: 1%;
    }

    .img1{
    float: left;
    border-radius: 50%;
    margin: 1%;
    padding: 1%;
    }

    