body{
    font-family: 'Titillium Web', sans-serif;
}
footer{
    font-family: 'Pacifico', cursive;
    background-color: lightgray;
    color:rgb(120,40,140);
    padding: 1%;
}
.img1{
 border-radius: 55%;
}

.img2{
    padding: 0.5%;
    margin: 0.5%;
   }

.img3{
    display: flex;
    justify-content: end;
}

header{
    color: lightgray;
    text-align: center;
    background-color:rgb(120,40,140);;
    padding:1%;
}
h1{
    /* background-color: black; */
}
h2{
    /* background-color: rgb(108, 107, 107); */
}
h3{
    text-align:center;
    justify-content: flex-start;
    display: flex;
    flex-direction: row;
}
.div1{
    border-radius:1cm;
    border: 2px solid gray;
    padding: 1%;
    margin: 1%;
}

.container{
    display: flex;
    flex-direction: row;
    padding: 1%;
    margin: 1%;
}
    
.contenedor{
    display: flex;
    flex-direction: column;
    padding: 1%;
    margin: 1%;
}

.titles{
    text-align: center;
    color:white;
    background-color: black;
    border-radius:0.5cm;
    border: 2px solid gray;
    padding: 1%;
    margin: 1%;
    font-size: larger;
}

.texto{
    display: flex;
    flex-direction: column;
    padding: 1%;
    margin: 1%;
}