body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: grey;
    /* background-color: rgb(209, 157, 157); */
}
footer{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgba(132, 132, 132, 0.785);
    color:rgb(140, 16, 16);
    padding: 1%;
}
.img1{
    border-radius: 55%;
   }
.img1{
 border-radius: 55%;
}
header{
    text-align: center;
    background-color:rgb(140, 16, 16);
}
h1{
    /* background-color: black; */
}
h2{
    /* background-color: rgb(108, 107, 107); */
}
